@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    margin: auto;
    width:1025px;
    height:839px;
}

.jogo{
    width:934px;
    margin-left:38px;
    margin-bottom:70px;
    margin-top:59px;

    display:flex;
    justify-content: space-between;

}

.forca{
    width:400px;
    height:466.67px;

    position:relative;

}

.escolherPalavra{
    width:200px;
    height:60px;

    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;

    background: #27AE60;
    border-radius: 8px;
    border:0px;

    position:absolute;
    margin-top:30px;
    margin-left:774px;

    cursor: pointer;
    transition: 0.2s all;
}

.palavra{
    height:68px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;

    position:absolute;
    margin-top: 372px;
    margin-left:603px;
}

.letras{
    width:688px;
    height:91px;
    gap:12px;
    margin-left:211px;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.letra{
    width:40px;
    height:40px;

    color:#39739D;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;

    cursor: pointer;
    transition: 0.2s all;
}

button:active{
    transform: translateY(4px);
}

.letra:disabled{
    color:#798A9F;

    transform: translateY(0px);
    background: #9FAAB5;
    
}

.escolherPalavra:disabled{
    transform: translateY(0px);
}

.vencedor{
    color: #27AE60;
}

.perdedor{
    color:#FF0000;
}
